body {
    background-color: #eeeeee;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    background-color: #1f2949;
    color: #ffffff;
    max-width: 330px;
    text-align: center;
    background-image: url("../image/background.png");
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.5) 0 10px 50px;
}

.search {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.search input {
    background-color: #0a1435;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
}

.search .button-search {
    background-color: #0a1435;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.8;
}

.search .magnifier {
    padding: 6px;
    width: 30px;
    opacity: 0.8;
}

.principal-information {
    margin: 30px;
}

.principal-information h1 {
    font-size: 18px;
}

.principal-information .temperature {
    font-size: 68px;
    margin: 20px 0;
}

.principal-information .condition {
    font-size: 20px;
}

.second-information {
    background-color: #ffffff;
    color: #0a1435;
    padding: 20px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.second-information .humid, .second-information .wind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
